<form skip-confirmation='true' method='POST' action='/message/{{ offer_id }}'>
  <section name='message'>
    <header>message</header>
      <p>Reply with your message for the offer owner</p>
    <input type="text"/>
    <footer>Reply with text/BACK</footer>
  </section>
</form>
