<section>
  <header>offer details</header>
  <p>Industry: {{ industry_name }}</p>
  <p>Description: {{ skill_description }}</p>
  <ul>
    <li>
      <a href='/message/{{ offer_id }}'
         method='GET'>
          Send message to: {{ user }}
      </a>
    </li>
  </ul>
  <footer>Reply with A</footer>
</section>
