<section>
  <header>profile</header>
  <p>{{ body_pre }}</p>
  <ul>
    <li>
      <a href='/first_name'
         method='GET'>
          First name: {{ first_name }}
      </a>
    </li>
    <li>
      <a href='/last_name'
         method='GET'>
          Last name: {{ last_name }}
      </a>
    </li>
    <li>
      <a href='/email'
         method='GET'>
          Email: {{ email }}
      </a>
    </li>
    <li>
      <a href='/location'
         method='GET'>
          Country/City: {{ country }}/{{ city }}
      </a>
    </li>
  </ul>
  <footer>Reply A-D</footer>
</section>
