<form skip-confirmation='true' method='POST' action='{{ action }}'>
  <section name='profile_change'>
    <header>set/change {{ profile_field }}</header>
    <p>{{ body_pre }}</p>
    <input type="text"/>
    <footer>Reply with {{ profile_field }}</footer>
  </section>
</form>
