<section>
  <header>{{ header }}</header>
  {% for item in body_pre_items %}
    <p>{{ item }}</p>
  {% endfor %}
  <ul>
    {% for item in items %}
    <li>
      <a href='{{ item['href'] }}'
         method='{{ item['method'] }}'>
          {{ item['description'] }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <footer>{{ footer }}</footer>
</section>
