<section>
  <header>{{ header }}</header>
  <ul>
    <li>
      <a href='{{ first_name['href'] }}'
         method='{{ first_name['method'] }}'>
          {{ first_name['description'] }}
      </a>
    </li>
    <li>
      <a href='{{ last_name['href'] }}'
         method='{{ last_name['method'] }}'>
          {{ last_name['description'] }}
      </a>
    </li>
    <li>
      <a href='{{ email['href'] }}'
         method='{{ email['method'] }}'>
          {{ email['description'] }}
      </a>
    </li>
  </ul>
  <footer>{{ footer }}</footer>
</section>
